.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
webpack.config.js
.eslintrc.json
tsconfig.json
**/tsconfig.json
**/*.map
**/*.ts
node_modules/**
!node_modules/node-sql-parser/**

# 确保包含构建后的文件
!dist/** 